<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Playing with Iris Go Framework</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="jumbotron.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">IrisPlay!</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1>Iris Framework Playground</h1>
        <p>We are going to create a simple bloging website to play with Iris framework. Hopefully this would also make us more familar with Go programming language.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Get started! &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Read blogs</h2>
          <p>Just like normal blogs, user can share their blog post using human-friendly URL.</p>
          <p><a class="btn btn-default" href="#" role="button">See it in action! &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Edit post</h2>
          <p>Although rather plain, user can create a blog post using HTML markup. We'll try to let them use Markdown later.</p>
          <p><a class="btn btn-default" href="#" role="button">See it in action! &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>That's it for now</h2>
          <p>Let's take one small step at a time, shall we?</p>
        </div>
      </div>

    <hr>

      <footer>
        <p>&copy; 2016 Leben Asa.</p>
      </footer>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
